body {
    background-color: #f7f7f7;
    text-align: center;
}

h1 {
    color: #580e72;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#input-field {
  text-align: center;
  width: 320px;
}
